*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;   
    font-family: 'Montserrat', sans-serif;
}

.header {
	padding: 10px;
	height: 70px;
	background: white;
}

.header a {
	color: #333;
	text-decoration: none;
}

.canvas {
	width: 100%;
	height: 100%;
	background: #9a9a9a;
	position: relative;
}

/* NODE */

.node {
	width: 220px;
	height: 300px;
	background: white;
	margin: 10px;
	float: left;
	padding: 10px;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	-webkit-box-shadow: #565656 2px 2px 2px; -moz-box-shadow: #565656 2px 2px 2px; box-shadow: #565656 2px 2px 2px;
}

.node p.name {
	margin-top: 0;
	width: 100%;
	color: white;
	background: #777;
	padding: 4px;
}

.node a {
	color: #333;
}

.node input {
	width: 100%;
  margin: 10px 0 0 0;
}

.node select {
	width: 100%;
  margin: 20px 0 0 0;
}

.toggleStart {
	margin: 20px 0 20px 0;
	width: 100%;
	text-align: center;
}